<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __ 
   / / / /  |/  / ____/   \ \/ / ___//   |  / / 
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /  
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/
                                                     
====================================================
Author: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.0
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="post-template" itemscope itemtype="http://schema.org/WebPage">  

<main id="summer-post-container" class="summer-post-container intro-effect-sliced" role="main">
    
    
        <header class="summer-post-header">
            <div class="bg-img"></div>
            
            <div class="summer-post-menu-header">
                
                    <a class="summer-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
                    </a>
                
                
                
                <div class="summer-blog-menu">      
    <div class="summer-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="summer-menu">
        <li class="summer-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>

</div>
            </div>
            <div class="summer-post-title bg-check">
                <h1>{{ page.title }}</h1>
                <p>by <strong>{{ site.owner.name }}</strong> &#8212; {% assign tagsize = page.tags.size %}{% if tagsize != 0 %}on {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong></p>
            </div>
            <div class="bg-img"></div>
        </header>
        <button class="trigger bg-check" data-info="Read more"><span>Trigger</span></button>
        {% if page.imagefeature %}<img src="{{ site.url }}/images/{{ page.imagefeature }}" alt="cover-image" />{% endif %}
        <article class="summer-post-content post">
            <div>{{ content }}
            </div>
        </article>
        <div class="cf"></div>
{% if site.share %}{% include share.html %}{% endif %}
        <div class="cf"></div>
        
{% include signoff.html %} 
        
        <div class="cf"></div>
        {% if site.disqus_shortname and page.comments == true %}
        <section class="summer-disqus row">
    <div class="small-12 columns">
        <h1 class="summer-comments-header">Comments</h1>
        <div id="disqus_thread"></div>
        {% include disqus_comments.html %}
    </div>
</section>
{% endif %}
        <div class="cf"></div>

    {% include footer.html %} 
</main>    
{% include scripts.html %} 
</body>
</html>
